# Exercises on sets

## PART I: pen and paper exercises

### Exercise 1. 

Consider the following sets:

   - $\Omega$ = positive integers between [1, 12]
   - $A$= even numbers between [1, 10]
   - $B = \{3,8,11,12\}$
   - $C = \{2,3,6,8,9,11\}$
    
    a. Illustrate all the sets in a Venn Diagram like the one below. The rectangular shape represents the universal set.
    
    b. Using your Venn Diagram, list the elements in each of the following sets:
    
        - $ A \cap B$
        - $ A \cup C$
        - $A^c$ 
        - The absolute complement of B
        - $(A \cup B)^c$
        - $B \cap C'$
        - $A\backslash B$
        - $C \backslash (B \backslash A) 
        - (C \cap A) \cup (C \backslash B)$
       

<img src="venn_diagr.png",width=450,height=450>

### Exercise 1: solution

a. 

<img src="venn_diagr_comp.png",width=450,height=450>

b. 

- $ A \cap B = \{8\}$
- $ A \cup C = \{2,3,4,6,8,9,10, 11\}$
- $A^c = \{1,3,5,8,7,9,11,12\}$
- $(A \cup B)^c = \{1,5,7,9\} $
- $B \cap C' = \{12\}$
- $A\backslash B = \{2,4,6,10\}$
- $C \backslash (B \backslash A) =\{2,6,8,9\} $
- $(C \cap A) \cup (C \backslash B) = \{2,6,8,9\}$

### Exercise 2. 

At the end of a highway exit, cars can either turn left (L), go straight (S) or turn right (R). For the three next  cars arriving, we keep records of what they do.

a. Create a set $A$ of all possible outcomes assuming that all cars drive in the same direction.
           
b. Create a set $B$ of all possible outcomes assuming that all cars drive in a different direction.
             
c. Create a set $C$ of all possible outcomes assuming that exactly 2 cars turn right.
            
d. Create a set $D$ of all possible outcomes assuming that exactly 2 cars drive in the same direction.

                          
e. Write down the interpretation and give all possible outcomes for the sets denoted by:
 - I. $D'$ 
 - II. $C \cap D$, 
 - III. $C \cup D$.

### Exercise 2: solution

a. Solution: $A = \{(L,L,L); (S,S,S); (R,R,R)\}$

b. Solution: $B = \{(L,R,S); (L,S,R); (R,L,S); (R,S,L); (S,L,R); (S,R,L)\}$



c. Solution: $C = \{(L,R,R); (R,L,R); (R,R,L); (S,R,R); (R,S,R); (R,R,S)\}$


d. Solution: $C = \{(L,R,R); (R,L,R); (R,R,L); (S,R,R); (R,S,R); (R,R,S);\\
                          (L,S,S); (S,L,S); (S,S,L); (R,S,S); (S,R,S); (S,S,R); \\
                          (S,L,L); (L,S,L); (L,L,S); (R,L,L); (L,R,L); (L,L,R)\}$

e. 

I. $D'$: all cars go in a different direction, or all go in the same direction.
    $D' = \{(L,R,S); (L,S,R); (R,L,S); (R,S,L); (S,L,R); (S,R,L); (L,L,L); (S,S,S); (R,R,R)\}$
             
II. The intersection between 2 cars go right, and 2 cars go in the same direction. As C is a subset of D, this boils down to C again, so $C \cap D = C = \{(L,R,R); (R,L,R); (R,R,L); (S,R,R); (R,S,R); (R,R,S)\} $
                  
III. The union between 2 cars go right, and 2 cars go in the same direction. So the set we end up with is the set of 2 cars going in the same direction, which boils down to D again.
$C \cup D = D = \{(L,R,R); (R,L,R); (R,R,L); (S,R,R); (R,S,R); (R,R,S);\\
                 (L,S,S); (S,L,S); (S,S,L); (R,S,S); (S,R,S); (S,S,R);\\
                 (S,L,L); (L,S,L); (L,L,S); (R,L,L); (L,R,L); (L,L,R)\}$

## PART II: sets in Python

### 1. Looking at the first exercise of part I

As seen in the lecture, you can easily create sets in Python. Let's try and create sets A, B and C and universal set U just the way they were specified in exercise 1 or part 1.

In [52]:
# Create a set
A = set([2,4,6,8,10])
B = set([3,8,11,12])
C = set([2,3,6,8,9,11])
U = set([1,2,3,4,5,6,7,8,9,10,11,12])

print('Type A: {}, A: {}'.format(type(A), A))
print('Type B: {}, B: {}'.format(type(B), B))
print('Type C: {}, C: {}'.format(type(C), C))
print('Type U: {}, U: {}'.format(type(U), U))

Type A: <class 'set'>, A: {2, 4, 6, 8, 10}
Type B: <class 'set'>, B: {8, 11, 3, 12}
Type C: <class 'set'>, C: {2, 3, 6, 8, 9, 11}
Type U: <class 'set'>, U: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

To help you out, here is an overview of common operations on sets.

| Method        |	Equivalent |	Result |
| ------                    | ------       | ------    |
| s.issubset(t)             |	s <= t     | test whether every element in s is in t
| s.issuperset(t)           |	s >= t     | test whether every element in t is in s
| s.union(t)                |	s $\mid$ t | new set with elements from both s and t
| s.intersection(t)         |	s & t      | new set with elements common to s and t
| s.difference(t)           |	s - t 	   | new set with elements in s but not in t
| s.symmetric_difference(t) |	s ^ t      | new set with elements in either s or t but not both

Now, verify your answers in section 1 by using the correct methods in Python.

#### 1. $ A \cap B$

In [59]:
A_inters_B =  A & B
print(A_inters_B)

{8}

#### 2. $ A \cup C $

In [60]:
A_union_C = A | C
print(A_union_C)

{2, 3, 4, 6, 8, 9, 10, 11}

#### 3.  $A^c$ (you'll have to be a little creative here!)

In [34]:
A_comp = U.difference(A) # or A_comp = U-A
print(A_comp)

{1, 3, 5, 7, 9, 11, 12}

#### 4.  $(A \cup B)^c  $

In [38]:
A_union_B_comp = U - (A | B) 
print(A_union_B_comp)

{1, 5, 9, 7}

#### 5. $B \cap C' $

In [46]:
B_inters_C_comp = B & (U-C)
print(C_intsers_C_comp)

{12}

#### 6. $A\backslash B$

In [56]:
A_min_B = A-B
print(A_min_B)

{2, 10, 4, 6}

#### 7. $C \backslash (B \backslash A)  $

In [61]:
C_min_B_min_A= C-(B-A)
print(C_min_B_min_A)

{8, 9, 2, 6}

#### 8.  $(C \cap A) \cup (C \backslash B) $

In [62]:
C_inters_A_union_C_min_B= (C&A)|(C-B)
print(C_inters_A_union_C_min_B)

{2, 6, 8, 9}

### 2. Making changes to sets

|Operation                          |	Equivalent |	Result|
| ------                            | ------       | ------   |
|s.update(t)                        | 	$s \mid t$ 	   |return set s with elements added from t|
|s.intersection_update(t)           | 	s &= t     |	return set s keeping only elements also found in t|
|s.difference_update(t)             |	s -= t 	   |return set s after removing elements found in t|
|s.symmetric_difference_update(t)   |	s ^= t 	   |return set s with elements from s or t but not both|
|s.add(x)                           |	           |	add element x to set s|
|s.remove(x)                        |	           |	remove x from set s|
|s.discard(x)                       |	           |	removes x from set s if present|
|s.pop()                            | 	           |	remove and return an arbitrary element from s|
|s.clear()            	            |  	           |remove all elements from set s|

Eve, Mary and Nina love animals, and they all have a beautiful collection of pets (some species more unusual than others). The lists below shows the three girls' pets collections.

In [106]:
Nina = set(["Cat","Dog","Rabbit","Donkey","Parrot", "Goldfish"])
Mary = set(["Dog","Chinchilla","Horse", "Chicken"])
Eve = set(["Rabbit", "Turtle", "Goldfish"])

Sadly, Eve's turtle passed away last week. Let's update her pet list accordingly.

In [107]:
Eve.remove("Turtle")
print(Eve)

{'Rabbit', 'Goldfish'}

Mary didn't think her big pet collection entirely through: she loves traveling, but also wants to make sure her pets are well taken care off. As Nina is already spending a considerable amount of time taking care of her own pets, adding a few more won't make that much of a difference. Nina does want to update her list while Marie is away.

In [108]:
Nina.update(Mary)
print(Nina)

{'Chicken', 'Horse', 'Chinchilla', 'Parrot', 'Rabbit', 'Donkey', 'Dog', 'Cat', 'Goldfish'}

Mary, on the other hand, wants to clear her list altogether while away:

In [109]:
Mary.clear()
Mary

set()

Look at how many species Nina is taking care of right now.

In [110]:
n_species_Nina = len(Nina)
print(n_species_Nina)

9

Taking care of this many pets is weighing heavy on Nina. She remembered Eve had a smaller collection of pets lately, and thats e she asks Eve to take care of the common species. This way, the extra pets are not a huge effort on Eve's behalf. Let's update Nina's pet collection.

In [111]:
Nina.difference_update(Eve)
Nina

{'Cat', 'Chicken', 'Chinchilla', 'Dog', 'Donkey', 'Horse', 'Parrot'}

## PART III: optional: another data set

In [128]:
import pandas as pd

#Load Europe and EU
europe = pd.read_excel('Europe_and_EU.xlsx', sheet_name = 'Europe') 
eu = pd.read_excel('Europe_and_EU.xlsx', sheet_name = 'EU')

#Remove any whitespace from names
europe.Country = europe.Country.map(lambda x: x.strip()) 
eu.Country = eu.Country.map(lambda x: x.strip()) #Remove any whitespace from names

In [125]:
europe.head(3) #preview dataframe

,Rank,Country,Population,% of population,Average relative annual growth (%),Average absolute annual growth,Estimated doubling time (Years),Official figure (where available),Date of last figure,Regional grouping,Source
0,1.0,Russia,143964709,17.15,0.19,294285,368,146839993,2017-01-01 00:00:00,EAEU,[1]
1,2.0,Germany,82521653,9.80,1.20,600000,90,82800000,2016-12-31 00:00:00,EU,Official estimate
2,3.0,Turkey,80810000,9.60,1.34,1035000,52,77695904,2016-12-31 00:00:00,NaN,[2]

In [126]:
eu.head(3)

,Rank,Country,2017 population,% of pop.,Average relative annual growth,Average absolute annual growth,Official figure,Date of last figure,Source
0,1,Germany,82800000,16.18,0.76,628876,82576900,2017-03-31,Official estimate
1,2,France,67210459,13.10,0.40,265557,67174000,2018-01-01,Monthly official estimate
2,3,United Kingdom,65808573,12.86,0.65,428793,65648100,2017-06-30,Official estimate

In [127]:
set(eu.Country)< set(europe.Country)

True

In [129]:
set(europe.Country) - set(eu.Country)

{'Albania',
 'Andorra',
 'Armenia',
 'Azerbaijan',
 'Belarus',
 'Bosnia and Herzegovina',
 'Faroe Islands (Denmark)',
 'Georgia',
 'Gibraltar (UK)',
 'Guernsey (UK)',
 'Iceland',
 'Isle of Man (UK)',
 'Jersey (UK)',
 'Kosovo',
 'Liechtenstein',
 'Macedonia',
 'Moldova',
 'Monaco',
 'Montenegro',
 'Norway',
 'Russia',
 'San Marino',
 'Serbia',
 'Svalbard (Norway)',
 'Switzerland',
 'Turkey',
 'Ukraine',
 'Vatican City',
 'Åland Islands (Finland)'}

# sources

https://en.wikibooks.org/wiki/Discrete_Mathematics/Set_theory/Exercises